body{
    font-family: Calibri;
    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(52,248,252,1) 100%);

}

#container{
    margin: auto;
    width:50%;
    padding: 10px;
}